@media (max-width: 1280px) {
    .nav-container-section {
        max-width: 100%;
        width: 100% !important;
        height: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 1199px) {
    .nav-container-section {
        max-width: 100%;
        width: 100% !important;
        height: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 991px) {

    .nav-container-section {
        max-width: 100%;
        width: 100% !important;
        height: 100%;
        margin: 0 auto;
    }

    .nav-searchbox input {
        width: 20em;
    }
    .nav-searchbox .btn {
        padding: 0 20px;
    }
    .nav-searchbox .btn{
        margin: 0 0px !important;
    }
}
@media (max-width: 767px) {
    .nav-container-section {
        max-width: 100%;
        width: 100% !important;
        height: 100%;
        margin: 0 auto;
    }

    .nav-searchbox input {
        width: 20em;
    }
    .nav-searchbox .btn {
        padding: 0 20px;
    }
    .nav-searchbox .btn{
        margin: 0 0px !important;
    }
}
@media (max-width: 575px) {
    .nav-container-section {
        max-width: 100%;
        width: 100% !important;
        height: 100%;
        margin: 0 auto;
    }

    .nav-searchbox input {
        width: 20em;
    }
    .nav-searchbox .btn {
        padding: 0 20px;
    }
    .nav-searchbox .btn{
        margin: 0 0px !important;
    }
}